<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="saludo">CHAU MUNDOOO ID</div>
    
<div id="alumnos"> DATOS
    <%= results[0].nombre %> <br>
    <%= results[1].nombre %>

</div>
    
    <script src="appSaludo.js"></script>
   
</body>
</html>